:root{
    --background: #E9E9E9;
}

body {
    font-family: Helvetica, sans-serif;
    background: var(--background);
    padding: 0 40px;
    text-align: center;
}

h1 {
    font-size: 8em;
    letter-spacing: -2px;
}

img.about {
    opacity: 0.5;
}